# Application
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/emot_db"

# Authentication
JWT_SECRET=your-secret-key-here

# Cors
CORS_ORIGIN=http://localhost:5173
